body{
background: #f4daee;
margin-left: 30px;
margin-top: 30px;
}
.name{
color: rgb(192, 186, 186);
margin: 0;
padding: 0;
}
.main{
width: 1512px;
height: 4030px;
border-radius: 50px;
background: #EEF2F9;
}
.content{
display: flex;
width: 1512px;
height: 107px;
align-items: center;
flex-shrink: 0;
background: #FFF;
box-shadow: 9px 4px 5px 0px rgba(0, 0, 0, 0.12);
border-radius: 20px 20px 0px 0px;
}
.shop{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 50px;
}
.product{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 50px;
}
.About-us{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 50px;
}
.Jewels{
display: flex;
width: 329px;
height: 50px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #8E6B0F;
text-align: center;
font-family: Italiana;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.serch{
background-image: url(Search.svg);
width: 40px;
height: 40px;
flex-shrink: 0;
margin-left: 700px;
}
.img{
background: url(Rectangle\ 2.svg), lightgray 50% / cover no-repeat;
width: 822px;
height: 877px;
flex-shrink: 0;
}
.EJD{
    margin-left: 90px;
    padding-top: 150px;
}
.exclusive{
display: flex;
width: 590px;
height: 173px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #8E6B0F;
font-family: Jacques Francois;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.DESIGNS{
    display:flex;
}
.text{
display: flex;
width: 576px;
height: 178px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
font-family: Jacques Francois;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Now{
display: flex;
width: 301px;
height: 84px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Jacques Francois;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.button{
width: 353px;
height: 84px;
flex-shrink: 0;
border-radius: 48px;
background: #17407D;
box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
}
.CATEGORY{
display: flex;
width: 988px;
height: 138px;
flex-direction: column;
justify-content: center;
text-align: center;
flex-shrink: 0;
color: #8E6B0F;
font-family: Jacques Francois;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 250px;
}
.Lorem{
display: flex;
width: 838px;
height: 178px;
flex-direction: column;
justify-content: center;
text-align: center;
flex-shrink: 0;
color: #17407D;
font-family: Jacques Francois;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 300px;
}
.center{
width: 1507px;
height: 300px;
flex-shrink: 0;
background: #FFF;
}
.picture{
display: flex;
flex-wrap: wrap;
background: white;
justify-content: space-around;
width: 1507px;
height: 850px;
flex-shrink: 0;
}
.picture-one{
display: flex;
width: 607px;
height: 490px;
flex-shrink: 0;
background: url(Rectangle\ 5.png), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.picture-three{
display: flex;
width: 607px;
height: 205px;
margin-top: 40px;
flex-shrink: 0;
background: url(Rectangle\ 7.png), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.picture-duo{
display: flex;
width: 705px;
height: 358px;
flex-shrink: 0;
margin-top: 30px;
background: url(Rectangle\ 6.png), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.picture-four{
display: flex;
width: 705px;
height: 341px;
flex-shrink: 0;
background: url(Rectangle\ 8.png), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.picture-five{
background: url(Group\ 1.png);
width: 1512px;
height: 815px;
}
.picture-six{
background-image: url(Rectangle\ 12.svg);
width: 1427px;
height: 566px;
flex-shrink: 0;
opacity: 0.58;
margin: auto;
margin-bottom: 200px;
}
.customer{
display: flex;
width: 1427px;
height: 76px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Jacques Francois;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 150px;
}
.lorem2{
display: flex;
width: 750px;
height: 178px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
font-family: Jacques Francois;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: auto;
}
.line{
width: 1510px;
height: 4px;
flex-shrink: 0;
background: #0F274A;
}
.panel{
display: flex;
height: 100px;
width: 507px;
margin-top: 40px;
}
.jewels{
display: flex;
width: 329px;
height: 50px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #8E6B0F;
text-align: center;
font-family: Italiana;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 50px;
}
.shop2{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 50px;
}
.produkt2{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 50px;
}
.About{
display: flex;
width: 88px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #17407D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 450px;
}
.insta{
background-image: url(Instagram.svg);
width: 71px;
height: 71px;
flex-shrink: 0;
margin-right: 20px;
}
.twiter{
background-image: url(Twitter\ Circled.svg);
width: 71px;
height: 71px;
flex-shrink: 0;
margin-right: 20px;
}
.facebook{
background-image: url(Facebook.svg);
width: 71px;
height: 71px;
flex-shrink: 0;
}
.footer{
    display: flex;
width: 1512px;
height: 62px;
flex-shrink: 0;
background: #0F274A;
border-radius: 0px 0px 20px 20px;
}
.copy{
display: flex;
width: 1512px;
height: 42px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Jacques Francois;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
}